.progress-bar-container {
    float: left;
    margin-left: 5px;
    font-size: 12px;
}
.progress-bar-vertical {
    width: 20px;
    min-height: 80px;
    display: flex;
    align-items: flex-end;
  }
  
  .progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
  }